{% extends "base/base.html" %}
{% load static %}

{% block title %}
Misión, Visión y Objetivos
{% endblock title %}

{% block content %}
<header class="bg-[rgb(249, 230, 188)] text-black p-4">
    <h1 class="text-center text-3xl font-bold">Misión, Visión y Objetivos</h1>
</header>

<main class="container mx-auto py-8 px-4">
    <section class="mb-12">
        <div class="grid md:grid-cols-3 gap-8">
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-xl font-semibold mb-4 text-[var(--theme-brown)]">Misión</h3>
                <div class="text-gray-700">
                    {{ about.mision|safe }}
                </div>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-xl font-semibold mb-4 text-[var(--theme-brown)]">Visión</h3>
                <div class="text-gray-700">
                    {{ about.vision|safe }}
                </div>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-xl font-semibold mb-4 text-[var(--theme-brown)]">Objetivos</h3>
                <div class="text-gray-700">
                    {{ about.objetivo|safe }}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %} 